$light: #f7f7f7;
$dark: #222121;
$greenHov:#3FFF00;
$greenH2: #32de84;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$elecPurp: #6F00FF;
$buttonColor1: linear-gradient(140deg, rgba(163,6,198,1) 0%, rgba(205,0,255,1) 6%, rgba(14,0,249,1) 100%);
$buttonColor2: radial-gradient(circle, rgba(133,134,191,1) 0%, rgba(16,52,236,1) 100%);
$tealMid: #0ebac7;
$rhino: #323b40;
$rhinoMid: #4f585e;
$teal: #0096a1;
$red: #fc625c;
$amber: #fdbc40;
$green: #34c748;
$offWhite: #e9eaea;