div.toptitle{
    text-align: center;

    h2{
        text-transform: capitalize;
        font-size: 40px;
        line-height: 10%;
        padding: 50px;
        
        
    }

    p{
        font-size: 17px;
        line-height: 180%;
        padding: 30px;
    }
}