@import 'colors';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

nav.subhead{
  background-color: $logocolor;
padding-top: 5ch;
}

h3.subheading{
  text-align: center;
  font-size: 25px;
  padding-bottom: 1ch;
}

//MAIN NAVBAR

li.OmOss,
a.OmOss,
button.OmOss {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.navlinksOmOss {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: $dark;

  div {
    margin: 1em;

    div a.OmOss {
      text-decoration: none;
      color: #e6f1ff;
      font-size: 16px;
    }

    div a.OmOss:hover {
      border-bottom: 3px solid rgb(255, 255, 255);
      transition: ease-in-out .3s;
      font-size: 18px;
    }
  }

  button.OmOss {
    padding: 9px 25px;
    background-color: $logocolor;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button.OmOss:hover {
    background-color: rgb(255, 227, 67);
  }

  .nav_linksOmOss {
    list-style: none;

    li.OmOss {
      display: inline-block;
      padding: 0px 10px;

      a.OmOss {
        color: #e6f1ff;
        transition: all 0.3s ease 0s;
      }

      a.OmOss:hover {
        color: $logocolor
      }
    }
  }
}



//DROPDOWN MENU
ul.nav_linksOmOss li.OmOss ol.dropdown {
    background: $logocolor;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 840px;
    top: 50px;
    display: none;
    padding: 5px;
    outline: 2px solid $dark;
    
    
  }

  ol.dropdown li.dropdwn a.dropit {
    color: $dark;
    font-size: 100%;
    line-height: 2rem;


}

  ul.nav_linksOmOss li.OmOss:hover > ol.dropdown,
  ul.nav_linksOmOss li.OmOss:focus > ol.dropdown
  ul.nav_lingsOmOss li.OmOss ol.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;

  }
  
  ul.nav_linksOmOss li.OmOss ol.dropdown li.dropdwn {
    clear: both;
    width: 100%;
    color: $dark;
    border: solid;

  }


#fixedOmOss {
  position: fixed;
  z-index: 1;
}