@import 'navbar';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'prisma-nova';
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.navlinks {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: $dark;

  div {
    margin: 1em;

    div a {
      text-decoration: none;
      color: #e6f1ff;
      font-size: 16px;
    }

    div a:hover {
      border-bottom: 3px solid rgb(255, 255, 255);
      transition: ease-in-out .3s;
      font-size: 18px;
    }
  }

  button {
    padding: 9px 25px;
    background-color: $logocolor;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: rgb(255, 227, 67);
  }

  .nav_links {
    list-style: none;

    li {
      display: inline-block;
      padding: 0px 10px;

      a {
        color: #e6f1ff;
        transition: all 0.3s ease 0s;
      }

      a:hover {
        color: $logocolor
      }
    }
  }
}

#fixed {
  position: fixed;
  z-index: 1;
}


.mobilenav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: $dark;

  button {
    padding: 9px 25px;
    background-color: $logocolor;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: rgb(255, 227, 67);
  }

  .menu {
    margin: 0 30px 0 0;

    a {
      text-decoration: none;
      color: white;
      margin: 0 10px;
      line-height: 70px;
      clear: right;
    }

    img {
      text-align: left;
    }
  }

  label {
    margin: 0 40px 0 0;
    font-size: 26px;
    display: none;
    float: right;
  }

  #toggle {
    display: none;
  }

}

.category {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 100px;
    flex-wrap: wrap;
  }

  li {
    min-width: 200px;
    max-width: 200px;
    border-radius: 1em;
    text-align: center;
    margin: 10px 10px 10px;
    background-color: #1d232d;
  }

  a {
    display: block;
    font-size: 20px;
    color: aliceblue;
    padding: 40px 0 40px;
  }

  li:nth-of-type(1) {
    background-image: url(/productImages/cache/grid/A115085.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  li:nth-of-type(2) {
    background-image: url(/productImages/cache/grid/piano.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  li:nth-of-type(3) {
    background-image: url(/productImages/cache/grid/teahub.io-electric-guitar-wallpaper-675223.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  li:nth-of-type(4) {
    background-image: url(/productImages/cache/grid/istockphoto-535230325-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  li:nth-of-type(5) {
    background-image: url(/productImages/cache/grid/5bd1831799094-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  li:nth-of-type(6) {
    background-image: url(/productImages/cache/grid/ovrigt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 900px) {
  .navlinks {
    display: none;
  }

  .mobilenav {
    label {
      cursor: pointer;
      display: block;
      color: white;
    }

    .menu {
      margin: 70px 30px 0 0;
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 100%;
      background-color: #1d232d;
      display: none;

      a {
        display: block;
        color: #e6f1ff;
        transition: all 0.3s ease 0s;
      }

      a:hover {
        color: $logocolor
      }
    }

    #toggle:checked+.menu {
      display: block;
    }
  }

}